@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

.custom-nav {
    display: flex;
    gap: 200px;
    /* Khoảng cách giữa các phần tử */
    text-align: center;
    justify-content: center;
}

.container {
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.card-body img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.custom-card h5 {
    font-size: 18px;
    margin: 10px 0;
}

.custom-card p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.custom-card a.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    /* text-decoration: none; */
}

.custom-card a.btn:hover {
    color: #ddd;
}